<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body> 
    {% if valor_aleatorio >= 5 %}
    <p>
        valor aleatorio: {{valor_aleatorio}}
    </p>
    {% endif %}

    <p>
        Listado de valores:
        {%  for  valor in  rango %}
        <li>{{valor}}</li>
        {% endfor %} 
    </p>

</body>
</html>