{% extends "padre/base.html"%}

{% block title_pagina %}
<title>Ver personas</title>
{% endblock title_pagina %}

{% block h1_texto_header %}
Ver personas
{% endblock h1_texto_header %}

{% block mi_contenido %}
<a class="navbar-brand" href={% url "crear_persona"%}>Volver a crear persona</a>


{% comment %} <form action={% url 'ver_persona' %} method="GET">
    {{formulario}}
    <button>Buscar</button>
</form> {% endcomment %}


<p>
    {% if personas %}
    {% for personas in  personas %}
    <li>{{personas.nombre}}  {{personas.apellido}}  {{personas.edad}} {{personas.fecha_creacion}}</li> 
    {% endfor %}
   
    {% else %}
    <p>
        No se encontraron resultados!!
    </p>
    {% endif %}
</p>
{% endblock mi_contenido %}